## Assignment

1. Output of string slicing

In [ ]:
name = ''' Hi How are you? Starterd learning python. It's really interesting.'''

In [ ]:
name[:]

" Hi How are you? Starterd learning python. It's really interesting."

In [ ]:
name[-10:-5]

'teres'

In [ ]:
name[3:12]

' How are '

In [ ]:
name[12:3]

''

In [ ]:
name[5:6]

'o'

In [ ]:
name[-4:-12]

''

In [ ]:
name[::2]

' iHwaeyu tredlann yhn tsral neetn.'

In [ ]:
name[::-2]

'.nteen larst nhy nnaldert uyeawHi '

2. Find output by string slicing

a. L1[:]

In [ ]:
L1 = ['a','b',20,30,'t',100,300,400,'Happy','major']
L1

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

b. L1[::3]

In [ ]:
L1[::3]

['a', 30, 300, 'major']

c. L1[::-2]

In [ ]:
L1[::-2]

['major', 400, 100, 30, 'b']

d. How to extract value “Happy” based on index and negative index

In [ ]:
L1[8]

'Happy'

In [ ]:
L1[-2]

'Happy'

e. How to check type of data in list at 4th position

In [ ]:
type(L1[4])

str

f. Extract values for 100, 300, 400

In [ ]:
L1[5:8]

[100, 300, 400]

3. If L2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”] then what is the output of following

In [ ]:
L2 =[1,2,3,5,[ 'a', 'b', 'work hard'],100 , 200, "Success"]

In [ ]:
L2[4]

['a', 'b', 'work hard']

In [ ]:
L2[1:5]

[2, 3, 5, ['a', 'b', 'work hard']]

In [ ]:
L2[7]

'Success'

In [ ]:
L2[7][2]

'c'

In [ ]:
L2[7][2:]

'ccess'

In [ ]:
L2[ : 3]

[1, 2, 3]

In [ ]:
L2[3:]

[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

4. From the above L2 value ‘b’ must be changed to ‘BEE’.

In [ ]:
L2[4][1] = "BEE"
print(L2)

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

5. From L2 “BEE” has to discard.

In [ ]:
L2[4].remove('BEE')
print(L2)

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

6. In L2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}

In [ ]:
L2.append({'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']})
print(L2)

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

7. From L2 extract insect information.

In [ ]:
print(L2[8]['insect'])

['bee', 'moth']

8. Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of L2

In [ ]:
d1 = {'a':10, 'b':20, 'c': 30}

In [ ]:
L2[1]=d1
L2

[1,
 {'a': 10, 'b': 20, 'c': 30},
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
print(L2)

[1, {'a': 10, 'b': 20, 'c': 30}, 3, 5, ['a', 'work hard'], 100, 200, 'Success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

9. Based on new L2 created here extract the value 10 from L2 dictionary.

In [ ]:
L2[1]['a']

10

10. If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] then what is the output of following

In [ ]:
L2 = [1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, "Success", (200,300, "Hundreds")]

In [ ]:
L2[4][2]

50

In [ ]:
L2[5][:]

'Python'

In [ ]:
L2[2]

3

In [ ]:
L2[1:5]

[2, 3, 5, (90, 40, 50, 10)]

In [ ]:
L2[5]

'Python'

In [ ]:
L2[5][3:-1]

'ho'

In [ ]:
L2[-1]

(200, 300, 'Hundreds')

In [ ]:
L2[-4:-3]

[100]

In [ ]:
L2[-4:-10]

[]

In [ ]:
L2[7][2]

'work hard'

In [ ]:
L2[-7][2:]

'thon'

In [ ]:
L2[:-3]

[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]

In [ ]:
L2[-3:]

[200, 'Success', (200, 300, 'Hundreds')]

# If-elif-else

11. Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails.

  If marks are more than 80 output must be “You got distinction”.

  For marks more than 60 output must be “You got First class”.

  Marks more than 40 will display “You got second class”.

  Marks more than or equal to 35 “PASS” Otherwise Fail.

In [ ]:
marks = input("Obtained marks : ")
if marks.isdigit():
  marks = int(marks)
  if 0 <= marks <= 100:
    if marks >= 80:
      print("You got Distinction")
    elif marks >= 60:
      print("You got First class")
    elif marks >= 40:
      print("You got Second class")
    elif marks >= 35:
      print("PASS")
    else:
      print("Fail")
  else:
    print("Enter valid marks between 0 and 100")
else:
  print("Enter valid marks")

Obtained marks : 80
You got Distinction

12. Ask user to enter information about salary of the employee per year and rating received as A, B, C, D

If salary upto 5 lpa then increament based on ratings are A = 16% , B=12%, C= 10%, D=6%

If salary upto 10 lpa then increament based on ratings are A = 14% , B=10%, C= 8%, D=6%

If salary upto 15 lpa then increament based on ratings are A = 8% , B=6%, C= 4%, D = no increment

If salary upto 23 lpa then increament based on ratings are A = 7% , B=5%, C= 4%, D=no

In [ ]:
Salary = input("Enter salary : ")
Rating = input("Enter rating : ")
if Salary.isdigit():
  Salary = int(Salary)
  if Salary <= 500000:
    if Rating == "A":
      print("Increament is 16%")
    elif Rating == "B":
      print("Increament is 12%")
    elif Rating == "C":
      print("Increament is 10%")
    else:
      print("Increament is 6%")
  elif Salary <= 1000000:
    if Rating == "A":
      print("Increament is 14%")
    elif Rating == "B":
      print("Increament is 10%")
    elif Rating == "C":
      print("Increament is 8%")
    else:
      print("Increament is 6%")
  elif Salary <= 1500000:
    if Rating == "A":
      print("Increament is 8%")
    elif Rating == "B":
      print("Increament is 6%")
    elif Rating == "C":
      print("Increament is 4%")
    else:
      print("No increament")
  elif Salary <= 2300000:
    if Rating == "A":
      print("Increament is 7%")
    elif Rating == "B":
      print("Increament is 5%")
    elif Rating == "C":
      print("Increament is 4%")
    else:
      print("No increament")
else :
  print("Enter valid salary")

Enter salary : 50000
Enter rating : A
Increament is 16%

In [ ]:
salary = input("Enter salary : ")
Rating = input("Enter rating : ").capitalize()
def GetnerateSalary(salary):
  if(not salary.isalpha() or not salary.isalnum()) or salary.isdigit():
    if salary.isdigit():
      salary = int(salary)
      if Rating in ["A","B","C","D"]:
        if salary <= 500000:
          if Rating == "A":
            return f"Increament is 16%,total salary = {salary * 1.16}"
          elif Rating == "B":
            return f"Increament is 12%,total salary = {salary * 1.12}"
          elif Rating == "C":
            return f"Increament is 10%,total salary = {salary * 1.10}"
          else:
            return f"Increament is 6%,total salary = {salary * 1.06}"
        elif salary <= 1000000:
            if Rating == "A":
              return f"Increament is 14%,total salary = {salary * 1.14}"
            elif Rating == "B":
              return f"Increament is 10%,total salary = {salary * 1.10}"
            elif Rating == "C":
              return f"Increament is 8%,total salary = {salary * 1.08}"
            else:
              return f"Increament is 6%,total salary = {salary * 1.06}"
        elif salary <= 1500000:
            if Rating == "A":
              return f"Increament is 8%,total salary = {salary * 1.08}"
            elif Rating == "B":
              return f"Increament is 6%,total salary = {salary * 1.06}"
            elif Rating == "C":
              return f"Increament is 4%,total salary = {salary * 1.04}"
            else:
              return "No increament"
        elif salary <= 2300000:
            if Rating == "A":
              return f"Increament is 7%,total salary = {salary * 1.07}"
            elif Rating == "B":
              return f"Increament is 5%,total salary = {salary * 1.05}"
            elif Rating == "C":
              return f"Increament is 4%,total salary = {salary * 1.04}"
            else:
              return "No increament"
    else :
      return "Enter valid salary"

13. Ask user to opt for courses for master degree based on the following

L1 = [“HR”, “Finance”, “Marketing”, “DS”]

Based on above subject there are two different streams.

For example- HR is having HR core and HR analytics.

Marketing is having core and Marketing analytics.

Analytics is the optional subject and having added extra fees.

DS is not having analytics.

If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.

If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .

Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.

User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)

In [ ]:
L1=["HR","Finance","Marketing","DS"]
fees=200000
total=0

subject=input("Enter a subject:")
analytics=input("Is it analytics related(Yes/No) : ")
hostel=input("Are u living in hostel(yes/No): ")
food=int(input("Food: how many months? :"))
transport=input("Transportation(semester/annual) :")

if subject in L1:
    total=total+fees
    if analytics=="Yes":
      if subject != "DS":
        total=total+fees*0.10
      else:
        print("Analytics not available for DS.")

    if hostel=="Yes":
      total=total+200000

    total=total+2000*food

    if transport == "semester":
      total=total+13000
    elif transport == "annual":
      total=total+13000 * 2

    print("Total Annual Cost=",total)

else:
  print("Invalid Subject")

Enter a subject: 1
Is it analytics related(Yes/No) :  No
Are u living in hostel(yes/No):  No
Food: how many months? :  9
Transportation(semester/annual) : 4 semester
Invalid Subject

14.	Digitalize the book allotment process for school. Charges are mentioned here in the given table:

In [ ]:
Books = {
    "Hindi": {'1-4':60,'5-8':100,'9-10':150},
    "Marathi": {'1-4':60,'5-8':100,'9-10':150},
    "English": {'1-4':80,'5-8':100,'9-10':150},
    "Science": {'1-4':90,'5-8':120,'9-10':200},
    "Maths": {'1-4':100,'5-8':140,'9-10':250}
}

Notebooks = {
    "square":{100:40,200:70},
    "4lines":{100:30,200:50},
    "2lines":{100:30,200:50},
    "singleline":{100:60,200:100},
    "a4":{100:100,200:180}
}

receipt = []
total_cost = 0
receipt_data_dict = {}

print("\n{:^150}".format("---Welcome to Book Store---"))

while True:

    print("\n{:^150}".format("What do you want to buy? (Book/Notebook): "))
    choice = input("\n{:^150}".format("->")).lower()

    # --------------for book-------------------
    if choice == "book":
        standard = input(("Enter class (1-4/5-8/9-10): "))
        subject = input("Enter subject \n(maths,marathi,hindi,science,english): ").capitalize()
        qty = int(input("Enter quantity: "))

        if subject in Books and standard in Books[subject]:
            price = Books[subject][standard]
            cost = price
            total_cost += price*qty
            receipt.append([subject + " Book", qty, cost, price*qty]) # Store subtotal for this item
        else:
            print("Invalid Book Details!")

    # ----------------for notebook----------------
    elif choice == "notebook":
        note_type = input("Enter notebook type \n(square,4lines,2lines,singleline,a4): ").lower()
        pages = int(input("Enter pages (100/200): "))
        qty = int(input("Enter quantity: "))

        if note_type in Notebooks and pages in Notebooks[note_type]:
            price = Notebooks[note_type][pages]
            cost = price
            total_cost += price*qty
            receipt.append([note_type + " Notebook", qty, cost, price*qty]) # Store subtotal for this item
        else:
            print("Invalid Notebook Details!")

    else:
        print("Invalid Choice!")

    # ----------------does user wants more entries----------------
    more = input("\nDo you want anything more? (Y/N): ").upper()
    if more == 'N':
        break
    if more == 'Y':
        continue
    else :
      print('invalid response')



for idx, item_details in enumerate(receipt):
    receipt_data_dict[idx + 1] = {
        'item': item_details[0],
        'quantity': item_details[1],
        'unit_price': item_details[2],
        'subtotal': item_details[3]
    }


# ----------------bill printing----------------

print('-'*60)
print("|{:^54}{:>6s}".format("WELCOME TO BOOK STORE","|"))
print("|{:^54}{:>6s}".format("RECEIPT","|"))
print("|",'-'*57,"|")
print("|{:<5s} {:28s} {:>9s} {:>10s}{:>5s}".format("Sr","Item","Qty","Price","|"))

for e,i in enumerate(receipt):
    print("|{:<5} {:28s} {:>9} {:>10.2f}{:>5s}".format(e+1,i[0],i[1],i[2],"|"))

print("|",'-'*57,"|")
print("|{:>30s} {:>14.2f}{:>15s}".format("Total Cost", total_cost, "|"))
print("|",'-'*57,"|")

print("\nThank You for Shopping!")

                                                             ---Welcome to Book Store---

                                                      What do you want to buy? (Book/Notebook):

                                                                          ->                                                                          Book
Enter class (1-4/5-8/9-10): 1-4
Enter subject
(maths,marathi,hindi,science,english): hindi
Enter quantity: 1

Do you want anything more? (Y/N): N
------------------------------------------------------------
|                WELCOME TO BOOK STORE                      |
|                       RECEIPT                             |
| --------------------------------------------------------- |
|Sr    Item                               Qty      Price    |
|1     Hindi Book                           1      60.00    |
| --------------------------------------------------------- |
|                    Total Cost          60.00              |
| --------------------------------------------------------- |

Thank You for Shopping!

Functions

1.Take input from user, ask which books you want to buy or which notebooks he wants make dictionary of that order

2.Calculate overall bill

3.Print bill

In [ ]:
Books = {
    "Hindi": {'1-4':60,'5-8':100,'9-10':150},
    "Marathi": {'1-4':60,'5-8':100,'9-10':150},
    "English": {'1-4':80,'5-8':100,'9-10':150},
    "Science": {'1-4':90,'5-8':120,'9-10':200},
    "Maths": {'1-4':100,'5-8':140,'9-10':250}
}

Notebooks = {
    "square":{100:40,200:70},
    "4lines":{100:30,200:50},
    "2lines":{100:30,200:50},
    "single lines":{100:60,200:100},
    "a4":{100:100,200:180}
}

receipt = {}
total_cost = 0

print("\n===== Welcome to Book Store =====")

while True:

    choice = input("\nWhat do you want to buy? (Book/Notebook): ").lower()

    # ---------------- BOOK ----------------
    if choice == "book":
        standard = input("Enter class (1-4/5-8/9-10): ")
        subject = input("Enter subject: ").capitalize()
        qty = int(input("Enter quantity: "))

        if subject in Books and standard in Books[subject]:

            unit_price = Books[subject][standard]
            item_total = unit_price * qty
            item_key = subject + " Book"

            total_cost += item_total

            receipt[item_key] = {
                "standard": standard,
                "qty": qty,
                "unit_price": unit_price,
                "total": item_total
            }

        else:
            print("Invalid Book Details!")

    # ---------------- NOTEBOOK ----------------
    elif choice == "notebook":
        note_type = input("Enter notebook type: ").lower()
        pages = int(input("Enter pages (100/200): "))
        qty = int(input("Enter quantity: "))

        if note_type in Notebooks and pages in Notebooks[note_type]:

            unit_price = Notebooks[note_type][pages]
            item_total = unit_price * qty
            item_key = note_type.capitalize() + " Notebook"

            total_cost += item_total

            receipt[item_key] = {
                "pages": pages,
                "qty": qty,
                "unit_price": unit_price,
                "total": item_total
            }

        else:
            print("Invalid Notebook Details!")

    else:
        print("Invalid Choice!")

    more = input("\nDo you want anything more? (Y/N): ").upper()
    if more != 'Y':
        break


# ----------- SHOW STORED DICTIONARY -----------
print("\nStored Receipt Dictionary:\n")
print(receipt)


# ---------------- PRINT RECEIPT ----------------
print("-"*85)
print("|{:^83}|".format("WELCOME TO BOOK STORE"))
print("|{:^83}|".format("RECEIPT"))
print("-"*85)

print("|{:^4}|{:^25}|{:^12}|{:^8}|{:^15}|".format(
    "Sr","Item","Std/Page","Qty","Total"))
print("-"*85)

for index, (item, details) in enumerate(receipt.items(), start=1):

    if "standard" in details:
        extra = details["standard"]
    else:
        extra = str(details["pages"])

    print("|{:^4}|{:^25}|{:^12}|{:^8}|{:^15.2f}|".format(
        index,
        item,
        extra,
        details["qty"],
        details["total"]
    ))

print("-"*85)
print("|{:>65} {:>15.2f} |".format("Grand Total", total_cost))
print("-"*85)

print("\nThank You for Shopping! ")

===== Welcome to Book Store =====

What do you want to buy? (Book/Notebook): book
Enter class (1-4/5-8/9-10): 1-4
Enter subject: hindi
Enter quantity: 1

Do you want anything more? (Y/N): N

Stored Receipt Dictionary:

{'Hindi Book': {'standard': '1-4', 'qty': 1, 'unit_price': 60, 'total': 60}}
-------------------------------------------------------------------------------------
|                               WELCOME TO BOOK STORE                               |
|                                      RECEIPT                                      |
-------------------------------------------------------------------------------------
| Sr |          Item           |  Std/Page  |  Qty   |     Total     |
-------------------------------------------------------------------------------------
| 1  |       Hindi Book        |    1-4     |   1    |     60.00     |
-------------------------------------------------------------------------------------
|                                                      Grand Total           60.00 |
-------------------------------------------------------------------------------------

Thank You for Shopping!

In [ ]:
receipt

{'Hindi Book': {'standard': '1-4', 'qty': 1, 'unit_price': 60, 'total': 60}}

In [ ]:
#16.
string = """In most organized forms of writing, such as essays, paragraphs contain a topic sentence.
This topic sentence of the paragraph tells the reader what the paragraph will be about.
Essays usually have multiple paragraphs that make claims to support a thesis statement, which is the central idea of the essay.    """

Type Casting

17. Create a=100

* Convert a into string

In [ ]:
a = 100

In [ ]:
b = str(a)
type(a)
b

'100'

In [ ]:
l=list(a)
type(l)

t=tuple(a)
type(t)

d=dict(a)
type(d)

s=set(a)
type(s)

TypeError: 'int' object is not iterable

In [ ]:
b=float(a)
type(b)
b

100.0

8. Creating City and using Type Casting

In [ ]:
city="Pune"

In [ ]:
# these codes will give out error cause strings can not be converted into int and float
type(int(city))

type(float(city))

ValueError: invalid literal for int() with base 10: 'Pune'

In [ ]:
type(list(city))
print(list(city))

['P', 'u', 'n', 'e']

In [ ]:
caa="pune"
tup = tuple(caa)
print(tup)

('p', 'u', 'n', 'e')

In [ ]:
a=dict(city)
type(a)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
c="pune"
s=set(c)
type(s)

set

9.	Create a list as marks = [20,18,15,17,18]

In [ ]:
marks=[20,18,15,17,18]

In [ ]:
i=int(marks)
print(type(i))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [ ]:
i=float(marks)
print(type(i))

TypeError: float() argument must be a string or a real number, not 'list'

In [ ]:
i=list(marks)
print(list(i))

[20, 18, 15, 17, 18]

In [ ]:
marks=[20,18,15,17,18]
i=tuple(marks)
print(type(i))

<class 'tuple'>

In [ ]:
marks=[20,18,15,17,18]
d=dict({marks})
type(d)

TypeError: unhashable type: 'list'

In [ ]:
marks=[20,18,15,17,18]
i=set(marks)
print(type(i))

<class 'set'>

## List Operations

10.	Create the empty list snames

•	 Add value 20 in the list using append

In [ ]:
snames = []
print(snames.append(20))
snames

None

[20]

•	 Add value 30 in the list using extend

In [ ]:
snames.extend([30])
print(snames)

[20, 30]

•	Add values in the list using append

In [ ]:
snames.append([40,60])
snames

[20, 30, [40, 60]]

•	Add value “WORK" in the list using extend

In [ ]:
snames.extend("WORK")
snames

[20, 30, [40, 60], 'W', 'O', 'R', 'K']

•	 Create a new list combo having the values [1, ‘a’, ‘b’ ,2 , 3]

In [ ]:
combo = [1,'a','b',2,3]

•	Add sname to combo using addition operator

In [ ]:
new_list = snames + combo
print(new_list)

[20, 30, [40, 60], 'W', 'O', 'R', 'K', 1, 'a', 'b', 2, 3]

•	Add combo to snames using append

In [ ]:
snames.append(combo)
snames

[20, 30, [40, 60], 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3]]

•	Add combo to snames using extend.

In [ ]:
snames.extend(combo)
snames

[20, 30, [40, 60], 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3], 1, 'a', 'b', 2, 3]

11.	Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1

In [ ]:
l1 = [1,2]
l3 = [1,2,3,4,5,6,7]
l1.insert(3,5)
l1

[1, 2, 5]

12.	Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is in integer or float then multiply with 5.

In [ ]:
list1=[1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]
result=[]
for i in list1:
  if isinstance(i,(int,float)):
    result.append(i)
  else:
    result.append(i)
print(result)

[1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.5, 90.1]

•	From the collection delete the record for “Nisha”

In [ ]:
list1.remove('Nisha')
list1

[1, 2, 3, ['a', 'b', 'c'], 100, 20.5, 90.1]

p=list1.index(20.5)
p

In [ ]:
p=list1.index(20.5)
p

5

13.	Create a comprehensive list for square upto 10

In [ ]:
list(i**2 for i in range(1,11))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

14.	Create the comprehensive list to find number divisible by 13 till 200

In [ ]:
list(n for n in range(1,200+1) if n%13==0 )

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

15.	Create the list which is divisible by 4 from 300 to 400

In [ ]:
list(item for item in range(300,401) if item%4==0)

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400]

16.	Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]
Then generate a new list based on all combination of x and y.
For example: if x = 1 and y =2  then x_list = [0] and y_list = [0,1]
And output will be [[0,0],[0,1]]

If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

In [ ]:
x=2
y=2

result=[[i,j] for i in range(x) for j in range(y)]

print(result)

[[0, 0], [0, 1], [1, 0], [1, 1]]

17. What is the difference between add and update methods in set?

add() adds single element, update() adds multiple elements.

18.	What is the difference between append and extend methods in list?

append() adds whole item, extend() adds elements individually.

19.	What is the difference between pop and remove methods?

pop() removes by index and returns value, remove() removes by value.

20.	What is the difference between discard, pop, remove methods?

remove() gives error if value not found, discard() does not give error, pop() removes random element.

21.	How to create empty set?

In [ ]:
x=set()
type(x)

set

22.	Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.

In [ ]:
s1={1,2,3,4,'a','s'}
s2={4,'s',5,6,7,8}

print(s1|s2) #Union of dict
print(s1 & s2) #Intersection of dict
print(s1-s2) #Differnce between dict
print(s1^s2)  #Symmetric difference

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 's'}
{4, 's'}
{1, 2, 3, 'a'}
{1, 2, 3, 5, 6, 7, 8, 'a'}

23.	Create l2 as a list and perform set operation on s1 with l1

In [ ]:
s1={1,2,3,4,'a','s'}
l2=[12,14,15,16,17,18]
print(s1|l2) #Union
print(s1 & l2) #Intersection
print(s1-l2) #Differnce
print(s1^l2)  #Symmetric difference

#error
#set operations will work between sets only.

TypeError: unsupported operand type(s) for |: 'set' and 'list'

24.	Ask user to enter the name and DOB and generate the password based on first name 4 characters and  @ddmm. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505

In [ ]:
name=input("Enter a name:").upper()
DOB=input("Enter DOB as DD-MM-YYYY:")
password=name[:4]+'@'+DOB[:2]+DOB[3:5]
print(password)

Enter a name:Geet
Enter DOB as DD-MM-YYYY:04-07-2003
GEET@0407

25.	Ask user to enter the name and DOB and generate the password based on first name 4 characters and  last 4 digits of DOB or year @yyyy. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978

In [ ]:
name=input("Enter a name:").upper()
DOB=input("Enter DOB as DD-MM-YYYY:")
password=name[:4]+'@'+DOB[6:]
print(password)

Enter a name:Geet
Enter DOB as DD-MM-YYYY:04-07-2003
GEET@2003

In [ ]:
# code for password based on dob and name
def GeneratePassword():
  name = input("Enter your name: ")
  dob = input("Enter your Date of Birth (DD-MM-YYYY): ")
  if name.isalpha() and len(dob) == 10:
    password = name[:4] +'@'+ dob[-4:]
    return password
  else:
    return "Invalid input"

In [ ]:
GeneratePassword()

Enter your name: Geet
Enter your Date of Birth (DD-MM-YYYY): 04-07-2003

'Geet@2003'

26.	Create the format mentioned here.

In [ ]:
for i in range (5):
  print('* '*i)

*
* *
* * *
* * * *

27.	Create the format as mentioned below:

In [ ]:
for i in range (5):
  print('* '*i)

*
* *
* * *
* * * *

28.	Str_val = “ABCD” then create the format as mentioned below:

In [ ]:
name = "ABCD"
sum = " "
for i in name:
  sum = sum + i
  print(sum)

 A
 AB
 ABC
 ABCD

29.	Create the format mentioned below:

In [ ]:
letters = ['A', 'B', 'C','D']
for index, char in enumerate(letters):
    print((char + ' ') * (index + 1))

A
B B
C C C
D D D D

30.	Create the format mentioned below:

In [ ]:
letters = ['1', '2', '3','4']
for index, char in enumerate(letters):
    print((char + ' ') * (index + 1))

1
2 2
3 3 3
4 4 4 4

31.	Val = “ABCD”  based on the Val, create the format mentioned below
D
DC
DCB
DCBA

In [ ]:
name = "DCBA"
sum = " "
for i in name:
  sum = sum + i
  print(sum)

 D
 DC
 DCB
 DCBA

32.	Ask user to enter the string. If string is UPGRAD then output must be

In [ ]:
name = input("Enter the string : ")
reversed_name = name[::-1]
current_string = ""
for char in reversed_name:
    current_string += char
    print(current_string)

Enter the string : UPGRAD
D
DA
DAR
DARG
DARGP
DARGPU

33.	Create a list of odd numbers from 1 to 10
*	Using for loop

In [ ]:
odd_numbers = []
for i in range(1, 11):
    if i % 2 != 0:
        odd_numbers.append(i)
print(odd_numbers)

[1, 3, 5, 7, 9]

* Using comprehensive list

In [ ]:
#using comprehensive list
l1=[i for i in range(1,11) if i%2!=0]
print(l1)

[1, 3, 5, 7, 9]

34.	Create even number list using for loop from 200 to 250

In [ ]:
even_numbers = []
for i in range(200, 250):
    if i % 2 == 0:
        even_numbers.append(i)
print(even_numbers)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248]

35.	Multiply each and every element by 2 and display the answer

In [ ]:
List2 = [2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
print(List2*2)

[2, 70, 'work', 'para', 2.5, [1, 2, 3], (1, 2), {1, 2}, {1: 'a', 2: 'b'}, 3, 10, 302.5, 2, 70, 'work', 'para', 2.5, [1, 2, 3], (1, 2), {1, 2}, {1: 'a', 2: 'b'}, 3, 10, 302.5]

36.

In [ ]:
List2 = [2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
print(List2*2)

[2, 70, 'work', 'para', 2.5, [1, 2, 3], (1, 2), {1, 2}, {1: 'a', 2: 'b'}, 3, 10, 302.5, 2, 70, 'work', 'para', 2.5, [1, 2, 3], (1, 2), {1, 2}, {1: 'a', 2: 'b'}, 3, 10, 302.5]

37.	Create a function to accept marks from user utilize exception concept to validate proper marks.

In [ ]:
def validate_marks():
    while True:
        try:
            marks_input = input("Enter marks: ")
            marks = int(marks_input)
            if 0 <= marks <= 100:
                return marks
            else:
                print("Invalid marks. Please enter a value between 0 and 100.")
        except ValueError:
            print("Invalid input. Please enter a whole number for marks.")

38.	Create a function to validate user first name/last name. User first name/last name should contain only characters. No special characters, numbers, space in name

In [ ]:
f_name=input("Enetr a first name: ").capitalize()
l_name=input("Enter a last name: ").capitalize()
def name(f_name,l_name):
  if f_name.isalpha() and l_name.isalpha():
    return f_name,l_name
  else :
    return "Enter a correct names."
name(f_name,l_name)

In [ ]:
ValidateName("Sudha")

True

39.	Create a function to accept mobile number. Mobile number should contain 10 digits. No Special character, alphabets and space.

In [ ]:
def GenerateMobileNo():
  mobile_no = input("Enter your mobile number: ")
  if mobile_no.isdigit() and len(mobile_no) == 10:
    return "Mobile Number Accepted"
  else:
    return "Invalid input"

In [ ]:
GenerateMobileNo()

Enter your mobile number: 9527120122

'Mobile Number Accepted'

40.	Create a function to generate auto-password based on specific person details. Ask user to enter name, DOB. And password must be First name 4 characters and year of birth.

In [ ]:
def GeneratePassword():
  name = input("Enter your name: ")
  dob = input("Enter your Date of Birth (DD-MM-YYYY): ")
  if name.isalpha() and len(dob) in (6,10):
    password = name[:4] + dob[-4:]
    return password
  else:
    return "Invalid input"

In [ ]:
GeneratePassword()

Enter your name: Geet
Enter your Date of Birth (DD-MM-YYYY): 04 07 2003

'Geet2003'

41.	Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 for first time. If user try to enter another value, then number should increase as 2 with new details and previous values should not change.
For example:
* {}
* {1:{name : "Sachine","DOB":"21-06-1965","mobile": "1234123423"}},
* {2:{name : "Sumedh", "DOB": "02-02-2002","mobile":"1234123433"}}

In [ ]:
customer = {}
customer_list = []

In [ ]:
# Initialize count
if customer:
    count = max(customer.keys()) + 1
else:
    count = 1

print("Customer Registration System")
print("----------------------------------")

while True:
    name = input("Enter your name: ")
    dob = input("Enter your Date of Birth (DD-MM-YYYY): ")
    mobile = input("Enter your number: ")

    # Validation
    if name.isalpha() and mobile.isdigit():

        # Add to dictionary (original structure)
        customer[count] = {
            "name": name,
            "DOB": dob,
            "mobile": mobile
        }

        # Add to list (keeps adding values)
        customer_list.append({
            "ID": count,
            "name": name,
            "DOB": dob,
            "mobile": mobile
        })

        print("Customer added successfully with ID", count)

        count += 1

        more = input("Do you want to add more entries? (Y/N): ").upper()
        if more != 'Y':
            break
    else:
        print("Invalid input. Name should contain only alphabets and mobile only digits.")

print("\nCustomers Dictionary:")
print(customer)

print("\nCustomers List:")
print(customer_list)

Customer Registration System
----------------------------------
Enter your name: bhau
Enter your Date of Birth (DD-MM-YYYY): 05-03-2006
Enter your number: 9568452455
Customer added successfully with ID 2
Do you want to add more entries? (Y/N): N

Customers Dictionary:
{1: {'name': 'geet', 'DOB': '04-07-2003', 'mobile': '9527565455'}, 2: {'name': 'bhau', 'DOB': '05-03-2006', 'mobile': '9568452455'}}

Customers List:
[{'ID': 1, 'name': 'geet', 'DOB': '04-07-2003', 'mobile': '9527565455'}, {'ID': 2, 'name': 'bhau', 'DOB': '05-03-2006', 'mobile': '9568452455'}]

In [ ]:
customer_list

[{'ID': 1, 'name': 'geet', 'DOB': '04-07-2003', 'mobile': '9527565455'},
 {'ID': 2, 'name': 'bhau', 'DOB': '05-03-2006', 'mobile': '9568452455'}]

42.	Based on the above example create the dictionary and save the same in a cust_info.txt or cust_info.log

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

customer = {}
count = 1

while True:
    name = input("Enter name: ")
    dob = input("Enter DOB (DD-MM-YYYY): ")
    mobile = input("Enter mobile number: ")

    if name.isalpha() and mobile.isdigit():
        customer[count] = {
            "name": name,
            "DOB": dob,
            "mobile": mobile
        }

        print("Customer added with ID:", count)
        count += 1

        more = input("Do you want to add more? (Y/N): ").upper()
        if more != "Y":
            break
    else:
        print("Invalid input.")

file_path = "/content/drive/MyDrive/cust_info.txt"

with open(file_path, "w") as file:
    file.write(str(customer))

print("Customer data saved successfully in Google Drive.")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Enter name: Geet
Enter DOB (DD-MM-YYYY): 04-04-2003
Enter mobile number: 9565452455
Customer added with ID: 1
Do you want to add more? (Y/N): N
Customer data saved successfully in Google Drive.

43.	Based on the above example read the file cust_info.txt . check if dictionary any information is available in the file. If there is information then read the dictionary store into one variable and then append new information of customer if added.

In [ ]:
import os

file_path = "cust_info.txt"

# Read existing data
if os.path.exists(file_path):
    with open(file_path, "r") as f:
        data = f.read().strip()
        customer = eval(data) if data else {}
else:
    customer = {}

# Set next ID
count = max(customer.keys(), default=0) + 1

while True:
    name = input("Enter name: ")
    dob = input("Enter DOB (DD-MM-YYYY): ")
    mobile = input("Enter mobile number: ")

    if name.isalpha() and mobile.isdigit():
        customer[count] = {
            "name": name,
            "DOB": dob,
            "mobile": mobile
        }
        print("Customer added with ID:", count)
        count += 1
    else:
        print("Invalid input.")

    if input("Add more? (Y/N): ").upper() != "Y":
        break

# Save updated data
with open(file_path, "w") as f:
    f.write(str(customer))

print("Data saved successfully.")

Enter name: Geet
Enter DOB (DD-MM-YYYY): 05-06-2004
Enter mobile number: 9565452554
Customer added with ID: 2
Add more? (Y/N): N
Data saved successfully.

44.	Create a table  cust_info as sr_no, name, DOB, mobile. Ask user to enter the information from python code. Validate all fields and after validation insert records in the table.

In [ ]:
import pyodbc
from datetime import datetime

# Connect to SQL Server
conn = pyodbc.connect(
    "Driver={SQL Server};"
    "Server=GEET\SQLEXPRESS;"
    "Database=Book_Printing;"
    "Trusted_Connection=yes;"
)

cursor = conn.cursor()

# Get next sr_no
cursor.execute("SELECT ISNULL(MAX(sr_no), 0) + 1 FROM cust_info")
count = cursor.fetchone()[0]

while True:
    name = input("Enter name: ").strip()
    dob = input("Enter DOB (YYYY-MM-DD): ").strip()
    mobile = input("Enter mobile number: ").strip()

    # Validation
    if not name.isalpha():
        print("Invalid name. Use alphabets only.")
        continue

    if not mobile.isdigit() or len(mobile) != 10:
        print("Mobile must be 10 digits.")
        continue

    try:
        dob_date = datetime.strptime(dob, "%Y-%m-%d")
    except ValueError:
        print("DOB must be in YYYY-MM-DD format.")
        continue

    # Insert into table
    cursor.execute(
        "INSERT INTO cust_info (sr_no, name, DOB, mobile) VALUES (?, ?, ?, ?)",
        (count, name, dob_date, mobile)
    )
    conn.commit()

    print("Customer added with sr_no:", count)
    count += 1

    if input("Add more? (Y/N): ").upper() != "Y":
        break

conn.close()

<>:7: SyntaxWarning: invalid escape sequence '\S'
<>:7: SyntaxWarning: invalid escape sequence '\S'
/tmp/ipython-input-3824505002.py:7: SyntaxWarning: invalid escape sequence '\S'
  "Server=GEET\SQLEXPRESS;"

ModuleNotFoundError: No module named 'pyodbc'

45.	Dict1= {“Key”: {“subkey”:20} ,  “k2”:{“sub2” : 5}, “k3” : {“sub4” :16},  “k4” : {“sub4” : 6}}
Sort elements based on values
Output must be {,  “k2”:{“sub2” : 5}, “k4” : {“sub4” : 6},  “k3” : {“sub4” : 16}, “Key”:{“subkey”:20}}

In [ ]:
Dict1 = {
    "Key": {"subkey": 20},
    "k2": {"sub2": 5},
    "k3": {"sub4": 16},
    "k4": {"sub4": 6}
}

# Sort based on inner dictionary value
sorted_dict = dict(
    sorted(Dict1.items(), key=lambda item: list(item[1].values())[0])
)

print(sorted_dict)

{'k2': {'sub2': 5}, 'k4': {'sub4': 6}, 'k3': {'sub4': 16}, 'Key': {'subkey': 20}}

46.	Create a function to calculate age till now.

In [ ]:
from datetime import datetime
from datetime import date

def age_calculator():
  dob_str = input("Enter your date of birth (YYYY-MM-DD): ")
  dob = datetime.strptime(dob_str, "%Y-%m-%d").date()

  today = datetime.now().date()

  age = today.year - dob.year
  if today.month < dob.month or (today.month == dob.month and today.day < dob.day):
    age -= 1

  print(f"Your current age is: {age} years")

age_calculator()

Enter your date of birth (YYYY-MM-DD): 2003-07-04
Your current age is: 22 years

47.	Create a function to check age eligibility for given customer based on DOB. Function will take two input DOB and ELIGIBILITY age.

In [ ]:
from datetime import datetime
from datetime import date

def Eligible():
  DOB = input("Enter age (YYYY-MM-DD)")
  ELIGIBILITY =int(input("Enter eligibility age"))

  dob = datetime.strptime(DOB, "%Y-%m-%d").date()
  today = datetime.now().date()

  age = today.year - dob.year
  if today.month < dob.month or (today.month == dob.month and today.day < dob.day):
    age = age-1
  age = int(age)
  if age > ELIGIBILITY:
    print("Congrats, you are Eligible")
  else:
    print("Sorry, you are not Eligible")

Eligible()

48.	Create a function to check if string is palindrome or not ? For example, if input is NITIN then reverse of the string is same then it is palindrome. If input is ANIL then reverse is LINA which is not same then it is not palindrome.

In [ ]:
def check_palindrome(s):
    s = s.upper()
    reversed_string = ""

    for i in s:
        reversed_string = i + reversed_string

    if s == reversed_string:
        print("It is a Palindrome")
    else:
        print("It is Not a Palindrome")

check_palindrome("NITIN")

It is a Palindrome

49.	Create a function to generate a Fibonacci Series. 0 1 1 2 3 5 8 13 21 34 …..  upto 100

In [ ]:
def fibonacci_upto_100():
    a = 0
    b = 1

    while a <= 100:
        print(a, end=" ")
        c = a + b
        a = b
        b = c

fibonacci_upto_100()

0 1 1 2 3 5 8 13 21 34 55 89

50.	Write a code to generate factorial of the number  For example: factorial of 5 = 5! = 5*4*3*2*1

In [ ]:
def factorial(n):
    fact = 1
    expression = ""

    for i in range(n, 0, -1):
        fact *= i
        expression += str(i)
        if i != 1:
            expression += " × "

    print(f"{n}! = {expression} = {fact}")

factorial(5)

5! = 5 × 4 × 3 × 2 × 1 = 120

51.	Write a program to find largest number in the list.

In [ ]:
def find_largest(lst):
    largest = lst[0]
    for i in lst:
        if i > largest:
            largest = i
    return largest

numbers = [10, 25, 5, 80, 30]
print("Largest number is:", find_largest(numbers))

Largest number is: 80

52.	Write a program to check frequency of each element in the list.

In [ ]:
# Program to check frequency of each element in a list

def check_frequency(lst):
    freq = {}

    for item in lst:
        if item in freq:
            freq[item] += 1
        else:
            freq[item] = 1

    return freq


numbers = [1, 2, 2, 3, 4, 1, 2, 5, 3]

result = check_frequency(numbers)

for key, value in result.items():
    print(key, "appears", value, "times")

1 appears 2 times
2 appears 3 times
3 appears 2 times
4 appears 1 times
5 appears 1 times

53.	There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.

In [ ]:
l1 = [1, 2, 3, 4, 5]
l2 = [3, 2, 8, 7, 9]

common = []

for item in l1:
    if item in l2:
        common.append(item)

print("Common elements are:", common)

Common elements are: [2, 3]

54.	Create 3 tables  in mysql having the columns as mentioned
1) user : uid, mobile, passkey, date
2) Product : pid, pname
3) Order : oid, uid, pid

user having  attribute uid, mobile
	      method user sign up
			sign in
			view_products
			view_orders
			place_order

In [ ]:
class Product:

    products = []

    def __init__(self, pid, pname):
        self.pid = pid
        self.pname = pname
        Product.products.append(self)


class Order:

    orders = []

    def __init__(self, oid, uid, pid):
        self.oid = oid
        self.uid = uid
        self.pid = pid
        Order.orders.append(self)


class User:

    users = []

    def __init__(self, uid, mobile, passkey, date):
        self.uid = uid
        self.mobile = mobile
        self.passkey = passkey
        self.date = date
        User.users.append(self)

    def sign_in(self, mobile, passkey):
        if self.mobile == mobile and self.passkey == passkey:
            print("Login successful")
            return True
        else:
            print("Invalid credentials")
            return False

    def view_products(self):
        print("Available Products:")
        for product in Product.products:
            print(product.pid, product.pname)

    def place_order(self, pid):
        oid = len(Order.orders) + 1
        Order(oid, self.uid, pid)
        print("Order placed successfully")

    def view_orders(self):
        print("Your Orders:")
        for order in Order.orders:
            if order.uid == self.uid:
                print("Order ID:", order.oid, "Product ID:", order.pid)

In [ ]:
Product(1, "Laptop")
Product(2, "Mobile")
Product(3, "Headphones")

u1 = User(1, "9876543210", "1234", "2026-02-15")

if u1.sign_in("9876543210", "1234"):
    u1.view_products()
    u1.place_order(1)
    u1.view_orders()

Login successful
Available Products:
1 Laptop
2 Mobile
3 Headphones
Order placed successfully
Your Orders:
Order ID: 1 Product ID: 1

55. Based on the OOPs concept create classes, methods, attributes and insert information

56.	Build a function to print bill. Generate the bill as mentioned below.

In [ ]:
sr = input("Enter sr no : ")
menu = input("Enter the Menu :")
quant = input("Enter the Quantity : ")
price = input("Enter the Price : ")
total = int(price) * int(quant)
print("-"*64)
print('|','{:^60}'.format("Welcome to Hotel transylvania"),'|')
print('|',"-"*60,'|')
print('|','{:^5}'.format("Sr"),'{:^20}'.format("Menu Item"),'{:^12}'.format("Quantity"),'{:^20}'.format("Price"),'|')
print('|','{:^5}'.format(sr),'{:^20}'.format(menu),'{:^12}'.format(quant),'{:^20}'.format(price),'|')
print('|'," "*60,'|')
print('|'," "*60,'|')

print('|',"-"*60,'|')
print('|','{:^5}'.format(" "),'{:^20}'.format('Total'),'{:^12}'.format(" "),'{:^20}'.format(total),'|')
print("-"*64)

Enter sr no : 1
Enter the Menu :Dal tadka
Enter the Quantity :  2
Enter the Price : 150
----------------------------------------------------------------
|                Welcome to Hotel transylvania                 |
| ------------------------------------------------------------ |
|  Sr        Menu Item         Quantity          Price         |
|   1        Dal tadka            2               150          |
|                                                              |
|                                                              |
| ------------------------------------------------------------ |
|              Total                              300          |
----------------------------------------------------------------