1. Write a lambda to add two numbers.

In [ ]:
add_numbers = lambda x, y: x + y
print(add_numbers(10,7))

17

2. Create a lambda to check if a number is even.

In [ ]:
even_number =  lambda x: x % 2 == 0
even_number(3)

False

3. Write a lambda to get the last character of a string.

In [ ]:
get_last_char = lambda s: s[-1]
print(get_last_char("maria"))

a

4. Use lambda with map() to square every number in a list.

In [ ]:
numbers = [1,2,3,4,5]
sqaures = list(map(lambda x : x**2,numbers))
print(sqaures)

[1, 4, 9, 16, 25]

5. Use lambda with filter() to get only odd numbers from a list.

In [ ]:
numbers = [1,2,3,4,5]
odd = list(filter(lambda x: x % 2 != 0, numbers))
print(odd)

[1, 3, 5]

6. Use sorted() + lambda to sort a list of tuples by second value.

In [ ]:
da = [('apple',3),('banana',2),('jackfruit',1)]
sorted = sorted(da,key=lambda x:x[1])
print(sorted)

[('jackfruit', 1), ('banana', 2), ('apple', 3)]

7. Create a lambda to check if a string is a palindrome.

In [ ]:
palindrome = lambda s: s == s[::-1]

print(palindrome("madam"))
print(palindrome("hello"))
print(palindrome("stats"))

True
False
True

8. Use lambda to find maximum of three numbers.

In [ ]:
maxx = lambda a, b: max(a, b)

print(maxx(10, 5))
print(maxx(3, 8))

10
8

9. Write a lambda to reverse a string.

In [ ]:
reverse = lambda s: s[::-1]

print(reverse("hello"))
print(reverse("marrakesh"))

olleh
hsekarram

10. Use lambda with map() to convert a list of strings to integers.

In [ ]:
stringss = ["1", "2", "3", "4", "5"]
integernumbers = list(map(lambda x: int(x), stringss))
print(integernumbers)

[1, 2, 3, 4, 5]

11. Use lambda with filter() to remove empty strings from a list.

In [ ]:
strings = ["hello", "", "world", "", "Python", ""]
non_empty = list(filter(lambda s: s != "", strings))
print(non_empty)

['hello', 'world', 'Python']

12. Use lambda to compute factorial using reduce() (yeah, that one-liner madness).

In [ ]:
from functools import reduce

def factorial(n):
  if n == 0:
    return 1
  else:
    return reduce(lambda x, y: x * y, range(1, n + 1))

print(f"Factorial of 5: {factorial(5)}")
print(f"Factorial of 0: {factorial(0)}")
print(f"Factorial of 1: {factorial(1)}")
print(f"Factorial of 7: {factorial(7)}")

Factorial of 5: 120
Factorial of 0: 1
Factorial of 1: 1
Factorial of 7: 5040

13. Write a lambda that returns the larger of two numbers.

In [ ]:
larger = lambda x, y: x if x > y else y

print(f"The larger of 17 and 5 is: {larger(17, 5)}")
print(f"The larger of 30 and 81 is: {larger(30, 81)}")

The larger of 17 and 5 is: 17
The larger of 30 and 81 is: 81

14. Use lambda to check if number is divisible by 5.

In [ ]:
is_divisible_by_5 = lambda x: x % 5 == 0

print(is_divisible_by_5(10))
print(is_divisible_by_5(7))
print(is_divisible_by_5(15))

True
False
True

15. Use lambda + map() to add 10 to each element of a list.

In [ ]:
numbers = [1, 2, 3, 4, 5]
added_ten = list(map(lambda x: x + 10, numbers))
print(added_ten)

[11, 12, 13, 14, 15]

16. Use lambda to sort a list of dictionaries by a key (like "age").

In [ ]:
people = [
    {'name': 'Alice', 'age': 30},
    {'name': 'Bob', 'age': 25},
    {'name': 'Charlie', 'age': 35}
]

sorted_people = __builtins__.sorted(people, key=lambda person: person['age'])

print(sorted_people)

[{'name': 'Bob', 'age': 25}, {'name': 'Alice', 'age': 30}, {'name': 'Charlie', 'age': 35}]

17. Write a lambda that returns True if a character is a vowel.

In [ ]:
is_vowel = lambda char: char.lower() in 'aeiou'

print(f"'a' is a vowel: {is_vowel('a')}")
print(f"'B' is a vowel: {is_vowel('B')}")
print(f"'E' is a vowel: {is_vowel('E')}")
print(f"'z' is a vowel: {is_vowel('z')}")

'a' is a vowel: True
'B' is a vowel: False
'E' is a vowel: True
'z' is a vowel: False

18. Use lambda + filter to extract words of length > 5 from a list.

In [ ]:
words = ['apple', 'banana', 'kiwi', 'grapefruit', 'orange', 'pear']
long_words = list(filter(lambda word: len(word) > 5, words))
print(long_words)

['banana', 'grapefruit', 'orange']

19. Use lambda to calculate the area of a circle (πr²).

In [ ]:
import math

calculate_circle_area = lambda r: math.pi * (r**2)

radius1 = 5
area1 = calculate_circle_area(radius1)
print(f"The area of a circle with radius {radius1} is: {area1:.2f}")

radius2 = 10
area2 = calculate_circle_area(radius2)
print(f"The area of a circle with radius {radius2} is: {area2:.2f}")

The area of a circle with radius 5 is: 78.54
The area of a circle with radius 10 is: 314.16

20. Write a lambda to remove duplicates from a list using filter + set.

In [ ]:
original_list = [1, 2, 2, 3, 4, 4, 5, 1, 6, 7, 7]

seen = set()


remove_duplicates_lambda = lambda lst: list(filter(lambda x: x not in seen and not seen.add(x), lst))

unique_list = remove_duplicates_lambda(original_list)
print(unique_list)

[1, 2, 3, 4, 5, 6, 7]

21. Use lambda with reduce() to find the product of all numbers in a list.

In [ ]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
product_of_numbers = reduce(lambda x, y: x * y, numbers)
print(f"The product of numbers {numbers} is: {product_of_numbers}")

numbers_two = [10, 2, 3]
product_of_numbers_two = reduce(lambda x, y: x * y, numbers_two)
print(f"The product of numbers {numbers_two} is: {product_of_numbers_two}")

The product of numbers [1, 2, 3, 4, 5] is: 120
The product of numbers [10, 2, 3] is: 60

22. Write a lambda that returns absolute value of a number.

In [ ]:
text = "Hello World! How Are You?"
uppercase_chars = "".join(filter(lambda char: char.isupper(), text))
print(uppercase_chars)

HWHAY

23. Use lambda to sort a list of strings by their length.

In [ ]:
absolute_value = lambda x: abs(x)

print(f"Absolute value of -5: {absolute_value(-5)}")
print(f"Absolute value of 10: {absolute_value(10)}")
print(f"Absolute value of 0: {absolute_value(0)}")

Absolute value of -5: 5
Absolute value of 10: 10
Absolute value of 0: 0

24. Use lambda to get only uppercase characters from a string.

In [ ]:
words = ["apple", "banana", "kiwi", "grapefruit", "orange", "pear"]
sorted_words_by_length = __builtins__.sorted(words, key=lambda s: len(s))
print(sorted_words_by_length)

['kiwi', 'pear', 'apple', 'banana', 'orange', 'grapefruit']

25. Write a lambda that returns the square if number is even, cube if odd.

In [ ]:
even_or_odd_operation = lambda x: x**2 if x % 2 == 0 else x**3


print(f"Square of 4 (even): {even_or_odd_operation(4)}")
print(f"Cube of 3 (odd): {even_or_odd_operation(3)}")
print(f"Square of 10 (even): {even_or_odd_operation(10)}")
print(f"Cube of 5 (odd): {even_or_odd_operation(5)}")

Square of 4 (even): 16
Cube of 3 (odd): 27
Square of 10 (even): 100
Cube of 5 (odd): 125

26. Use lambda with map to convert Celsius to Fahrenheit.

In [ ]:
celsius_temps = [0, 10, 20, 30, 40]
fahrenheit_temps = list(map(lambda c: (c * 9/5) + 32, celsius_temps))
print(f"Celsius temperatures: {celsius_temps}")
print(f"Fahrenheit temperatures: {fahrenheit_temps}")

Celsius temperatures: [0, 10, 20, 30, 40]
Fahrenheit temperatures: [32.0, 50.0, 68.0, 86.0, 104.0]

27. Write a lambda to check if two strings are anagrams.

In [ ]:
anagrams = lambda s1, s2: __builtins__.sorted(s1.lower().replace(" ", "")) == __builtins__.sorted(s2.lower().replace(" ", ""))


print(f"'listen' and 'silent' are anagrams: {anagrams('listen', 'silent')}")
print(f"'hello' and 'world' are anagrams: {anagrams('hello', 'world')}")
print(f"'Debit card' and 'Bad credit' are anagrams: {anagrams('Debit card', 'Bad credit')}")
print(f"'Astronomer' and 'Moon starer' are anagrams: {anagrams('Astronomer', 'Moon starer')}")

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False
'Debit card' and 'Bad credit' are anagrams: True
'Astronomer' and 'Moon starer' are anagrams: True

28. Use lambda to extract only numeric values from a mixed list.

In [ ]:
mixed_list = [1, 'apple', 2.5, 'banana', 3, True, False, '4', 5]
numeric_values = list(filter(lambda x: isinstance(x, (int, float)), mixed_list))
print(numeric_values)

[1, 2.5, 3, True, False, 5]

29. Use lambda inside any() to check if any list element is negative.

In [ ]:
numbers1 = [1, 2, 3, -4, 5]


contains_negative1 = (lambda x : x < 0 for x in numbers1)

[<function __main__.<genexpr>.<lambda>(x)>,
 <function __main__.<genexpr>.<lambda>(x)>,
 <function __main__.<genexpr>.<lambda>(x)>,
 <function __main__.<genexpr>.<lambda>(x)>,
 <function __main__.<genexpr>.<lambda>(x)>]

30. Use lambda to generate a function that multiplies any number by n

In [ ]:
n = 7
multiply = lambda x: x * n

print(multiply(5))
print(multiply(10))

35
70