## List Comprehension -
List comprehension is a concise way to generate a list by applying an expression to each item in an iterable, optionally filtering items with a condition.

1. Write a list comprehension to generate squares of numbers from 1 to 10.

In [44]:
numbers = [1,2,3,4,5,6,7,8,9,10]
Squares = [i*i for i in numbers]
print("Numbers:",numbers)
print("Squares from 1 to 10:",Squares)

Numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Squares from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
squares = [i *i for i in range(1,11) ]
print("Squares",squares)

Squares [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Create a list of even numbers between 1 and 50 using list comprehension.

In [47]:
number = range(1,50)
even_number = [i for i in number if i % 2 == 0 ]
print("Even no from 1 to 50:",even_number)

Even no from 1 to 50: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

3. Convert all strings in a list to uppercase using list comprehension.

In [48]:
l1 = ['Saturo','gojo']
Cap = [i.upper() for i in l1]
print("List after Capitalizing:",Cap)

List after Capitalizing: ['SATURO', 'GOJO']

4. Given a list of integers, create a new list that contains only the positive numbers.

In [49]:
g = [1,2,3,4,5,6,7,8,9]
c = [i for i in g if i % 2 == 0]
print("List of integers:",g)
print("Only Positive No:",c)

List of integers: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Only Positive No: [2, 4, 6, 8]

5. Create a list of tuples (num, num^2) for numbers 1 to 5.

In [50]:
pairs = [(i, i*i) for i in range(1, 6)]
print("Pairs of numbers: ",pairs)

Pairs of numbers:  [(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

6. Extract all vowels from a given string using list comprehension.

In [51]:
text = "Light yagami"
vowels = [ch for ch in text if ch.lower() in "aeiou"]
print("Vowel values:",vowels)

Vowel values: ['i', 'a', 'a', 'i']

7. Flatten a 2D list using list comprehension.

In [54]:
matrix = [[1,2], [3,4], [5,6]]
flat = [num for row in matrix for num in row]
print("After Flattening:",flat)

After Flattening: [1, 2, 3, 4, 5, 6]

8. Replace all negative numbers in a list with 0 using list comprehension.

In [55]:
nums = [-4, 2, -7, 5]
clean = [0 if n < 0 else n for n in nums]
print("Replacing negative numbers",clean)

Replacing negative numbers [0, 2, 0, 5]

9. Given a list of words, create a list of lengths of each word.

In [ ]:
words = ["python", "is", "fun"]
lengths = [len(word) for word in words]
print("Lengths of the words:",lengths)

Lengths of the words:  [6, 2, 3]

  10. Filter out words that start with the letter 'A' or 'a'.

In [57]:
words = ["Apple", "banana", "Avocado", "grape"]
filtered = [w for w in words if w.lower().startswith("a")]
print("Words Starting with A:",filtered)

Words Starting with A: ['Apple', 'Avocado']

11.  From a list of numbers, generate a list of “even” or “odd” strings using
list comprehension

(Like → [“even”, “odd”, “odd”, “even”…])

In [59]:
nums = [1,2,3,4,5]
labels = ["even" if n % 2 == 0 else "odd" for n in nums]
print("Values:",labels)

Values: ['odd', 'even', 'odd', 'even', 'odd']

12. Create a list of numbers divisible by both 3 and 5 in range 1–100.

In [61]:
nums = [i for i in range(1, 101) if i % 3 == 0 and i % 5 == 0]
print("No.s Divided by 3:",nums)

No.s Divided by 3: [15, 30, 45, 60, 75, 90]

13.  Write a nested list comprehension to generate a multiplication table
for 1–5.

In [62]:
table = [[i*j for j in range(1, 6)] for i in range(1, 6)]
print("Table from 1 to 5",table)

Table from 1 to 5 [[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

14. Convert a dictionary’s keys into a list using list comprehension.

In [63]:
d = {"a":1, "b":2, "c":3}
keys = [key for key in d]
print("After Conversion: ",keys)

After Conversion:  ['a', 'b', 'c']

15. Extract numeric digits from a string using list comprehension.

In [68]:
text = "Geet123"
digits = [ch for ch in text if ch.isdigit()]
print("Numeric digits:",digits)

Numeric digits: ['1', '2', '3']

16.  Use list comprehension to remove all spaces from a string.

In [74]:
text = "Itarodi Yuzi"
no_space = [ch for ch in text if ch != " "]
print(no_space)

['I', 't', 'a', 'r', 'o', 'd', 'i', 'Y', 'u', 'z', 'i']

17.  Create a list of characters that appear more than once in a string

In [75]:
text = "programming"
duplicates = [ch for ch in text if text.count(ch) > 1]
print("After removing duplications",duplicates)

After removing duplications ['r', 'g', 'r', 'm', 'm', 'g']

18.  From a list of sentences, generate a list of all words (split using list
comprehension).

In [76]:
sentences = ["Hi I am Geet Bidwai", "Working at Bizmetric"]
words = [word for sentence in sentences for word in sentence.split()]
print(words)

['Hi', 'I', 'am', 'Geet', 'Bidwai', 'Working', 'at', 'Bizmetric']

19.  Create a list of unique elements from a list using list comprehension +
condition.

In [77]:
nums = [1,2,2,3,4,4,5]
unique = [n for i,n in enumerate(nums) if n not in nums[:i]]
print("Unique No.s:",unique)

Unique No.s: [1, 2, 3, 4, 5]

20.  Generate all pairs (x, y) where x is from list A and y is from list B
(cartesian product).

In [78]:
A = [1,2]
B = [3,4]
pairs = [(x,y) for x in A for y in B]
print("Pairs:",pairs)

Pairs: [(1, 3), (1, 4), (2, 3), (2, 4)]